Repository ARedaUni/yousif-study-buddy: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit', eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["bash -c 'tsc --noEmit'", "eslint --fix", "prettier --write"],
  "*.{js,jsx,json,css,md,ts,tsx}": ["prettier --write"]
}

got rid of complex dashboard and sidebar, unnecessary
  app/dashboard/page.tsx
  components/layout/dashboard-header.tsx
  components/layout/dashboard-sidebar.tsx
  components/timetable/month-view.tsx
  components/timetable/timeline-view.tsx
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

generated a plan awith advanced shadcn coponents for our mobile native dasboard
  CLAUDE.md
Due: prettier --write

adding
  app/dashboard/page.tsx
  components/ui/shadcn-io/3d-card/index.tsx
  components/ui/shadcn-io/animated-modal/index.tsx
  components/ui/shadcn-io/dock/index.tsx
  components/ui/shadcn-io/message-dock/index.tsx
  components/ui/shadcn-io/mini-calendar/index.tsx
  components/ui/shadcn-io/sparkles/index.tsx
  eslint.config.mjs
  hooks/use-event-listener.ts
  hooks/use-isomorphic-layout-effect.tsx
  hooks/use-on-click-outside.tsx
  package.json
  pnpm-lock.yaml
  store/ui-store.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added plan
  plan.md
Due: prettier --write

fixed ts issues
  .lintstagedrc.json
  app/dashboard/page.tsx
  components/forms/topic-input-modal.tsx
  components/mobile/ai-chat-view.tsx
  components/mobile/bottom-sheet.tsx
  components/mobile/calendar-view.tsx
  components/mobile/timeline-view.tsx
  components/ui/shadcn-io/dock/index.tsx
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added plan
  app/dashboard/page.tsx
  components/mobile/ai-chat-view.tsx
  components/mobile/bottom-sheet.tsx
  components/mobile/calendar-view.tsx
  components/mobile/timeline-view.tsx
  potential-plan.md
  store/revision-store.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

removed convex adn got rid of dashbaord route
  app/dashboard/page.tsx
  app/page.tsx
  plan.md
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added a basic flow, v 0.0.1
  app/api/ai/generate-timetable/route.ts
  app/page.tsx
  components/forms/topic-input-modal.tsx
  components/timetable/timetable-display.tsx
  components/timetable/week-view.tsx
  lib/schema.ts
  plan.md
  store/revision-store.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

got rid of problematic sort in day sessions
  components/timetable/timetable-display.tsx
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added plan
  plan.md
  potential-plan.md
Due: prettier --write

added an ai agent with several tools
  Agent.md
  app/api/ai/generate-timetable/route.ts
  lib/ai/timetable-agent.ts
  lib/ai/tools/break-generator.ts
  lib/ai/tools/conflict-resolver.ts
  lib/ai/tools/index.ts
  lib/ai/tools/schedule-optimizer.ts
  lib/ai/tools/spaced-repetition.ts
  lib/ai/tools/topic-analyzer.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

fixed agent not outputting according to schmea
  lib/ai/timetable-agent.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

began to add the code for different agents, now make sure that the code works
  app/api/ai/adjust-timetable/route.ts
  app/api/ai/study-buddy/route.ts
  app/page.tsx
  lib/ai/study-buddy-agent.ts
  lib/ai/timetable-adjuster-agent.ts
  lib/ai/timetable-agent.ts
  lib/ai/tools/break-generator.ts
  lib/ai/tools/conflict-resolver.ts
  lib/ai/tools/index.ts
  lib/ai/tools/schedule-optimizer.ts
  lib/ai/tools/spaced-repetition.ts
  lib/ai/tools/topic-analyzer.ts
  store/agent-memory-store.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added ai chat frontend docs
  aichat.md
Due: prettier --write

added revision maker thigny
  app/api/ai/adjust-timetable/route.ts
  app/page.tsx
  lib/ai/timetable-adjuster-agent.ts
  lib/ai/timetable-adjustment-agent.ts
  store/revision-store.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

added more
  app/page.tsx
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

turned off stupid rules
  eslint.config.mjs
Due: none

added availabilty stuff in the agent for adjustment
  app/api/ai/adjust-timetable/route.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

changed number of steps in teh agent adjuster
  lib/ai/timetable-adjustment-agent.ts
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

trext
  components/animate-text.tsx
  package.json
  pnpm-lock.yaml
Due: bash -c 'tsc --noEmit', eslint --fix, prettier --write

no build on turbopack
  package.json
Due: prettier --write

added back turbopack
  package.json
Due: prettier --write
